/* import section */

@import url('font-style.css');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css");

/* Variables section */

:root {
    --galaxy-color: #463B8A;
    --orange-color: #FF7D00;
    --accent-color: #8A7F3B;
    --dark-galaxy-color: #1A143D;
    --bg-grey-color: #1D1D1B;
    --bg-page-color: #0E0C1C;
    --white-color: #FFFFFF;
    --black-color: #000000;
}


/* section general property color */

.text-galaxy {
    color: var(--galaxy-color);
}
.text-orange-color {
    color: var(--orange-color);
}


/* General text elements */

body {
    font-family: 'Satoshi-Regular';
    font-size: 16px;
    line-height: 150%;
    color: var(--white-color);
    background-color: var(--bg-page-color);
}
/* buttons style */
.button-base {
    text-transform: uppercase;
    border-radius: 8px;
    background-color: transparent;
    font-size: 14px;
    font-weight: 700;
}
.button-secondary {
    border: 1px solid var(--orange-color);
    color: var(--orange-color);
}
.button-secondary:hover {
    background-color: var(--orange-color);
    color: var(--white-color);
}
.button-white {
    border: 1px solid var(--white-color);
    color: var(--white-color);
}
.button-white:hover {
    background-color: var(--white-color);
    color: var(--orange-color);
}

h1, h2, h3 {
    font-family: 'Satoshi-Bold';
}

h1 {
    font-size: 64px;
    letter-spacing: -2px;
}

h2 {
    font-size: 48px;
    letter-spacing: -1px;
}

h3 {
    font-size: 40px;
    letter-spacing: 0;
    line-height: 150%;
}

h5 {
    font-family: 'Satoshi-Medium';
    font-size: 32px;
    line-height: 150%;
}
.text-small {
    font-size: 12px;
}
.navbar li {
    font-family: 'Satoshi-Medium';
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
}

.navbar li>a {
    color: var(--white-color) !important;
}

.navbar li:hover, .navbar li.active {
    border-bottom: 1px solid var(--white-color);
}

.navbar li:hover::after, .navbar li.active::after {
    position: absolute;
    bottom: -5px;
    left: 46%;
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid var(--bg-page-color);
    background-color: var(--white-color);
}

.navbar li.active>a {
    color: var(--orange-color) !important;
}

.bg-headpage {
    background: url('../img/astronomy.jpg') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 500px;
    padding-top: 70px;
}

.bg-headpage::before, .community_card::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
}
.bg-head_home {
    background-image: url('../img/home-background.jpg');
    height: 830px;
}

.bg-head_services {
    background-image: url('../img/services-header.png');
}
.bg-head_origins {
    background-image: url('../img/origins-header.png');
}
.bg-head_observatory {
    background-image: url('../img/osservatorio-background.jpg');
}
.bg-head_tourism {
    background-image: url('../img/tourism-background.jpg');
}
.bg-head_community {
    background-image: url('../img/community-background.jpg');
}
.bg-head_home .title-head {
    margin-top: 12rem;
}
.bg-astreafest {
    background-image: url('../img/astreafest-background.jpg');
}

.breadcrumb-item+.breadcrumb-item::before {
    content: '>';
    color: var(--white-color);
}

.title-head {
    border-bottom: 2px solid var(--white-color);
}

.title-head::before, .collapse .navbar-brand::before {
    position: absolute;
    left: 0;
    bottom: -4px;
    content: '';
    width: 6px;
    height: 6px;
    background-color: var(--white-color);
    transform: rotate(45deg);
}
.mobile-close-Btn {
    right: -20%;
    top: 30px;
}
i.lg-icon {
    font-size: 48px;
}
i.md-icon {
    font-size: 32px;
}

/* footer style */
.footer-page {
    background: url('../img/footer_img.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 500px;
    padding-top: 100px;
}
.footer-page::before {
    background-color: rgba(29,29,27, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    content: '';
}

/*
    Component card origins and observatory
*/


/*
    Card_left_origins_observatory_head is made of head, a line below the head, paragraphs, and an svg/img on the right;
    Card_right_origins_observatory_head is made of head, a line below the head, paragraphs, and an svg/img on the right.
*/

.card_left_origins_observatory_head,
.card_right_origins_observatory_head {
    border-bottom: 2px solid var(--white-color);
}
.card_left_origins_observatory_head::before {
    position: absolute;
    right: 0;
    bottom: -4px;
    content: '';
    width: 6px;
    height: 6px;
    background-color: var(--white-color);
    transform: rotate(45deg);
}

.card_origins_observatory_img {
    width: 100%;
}

.card_right_origins_observatory_head::before {
    position: absolute;
    left: 0;
    bottom: -4px;
    content: '';
    width: 6px;
    height: 6px;
    background-color: var(--white-color);
    transform: rotate(45deg);
}


/*
    Card_environment is made of an img (triangle and squared shapes), title, paragraph
*/

.card_environment_img {
    width: 100%;
    height: 100%;
}

.card_environment_head {
    text-align: center;
}
/* HOME */
/* card for elements of list in home */
.card-triangle_element {
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
    background-color: var(--bg-grey-color);
    min-height: 200px;
    border-radius: 10px;
    margin-left: -3rem;
    z-index: 0;
}
.home-card-triangle img {
    z-index: 1;
}
.card-triangle_description {
    margin: 0 5rem;
}
.card-triangle_right .card-triangle_element {
    margin-right: -3rem;
    margin-left: 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
}

/* card astreafest in home */
.home-astreafest img {
    width: 100%;
}
.home-astreafest_description {
    top: 32%;
    left: 21%;
}

/* services section */

.card-intro {
    width: 100%;
    height: 100%;
}

.service_title{
    position:absolute;
    bottom: 55%;
    left: 25%;
    z-index: auto;
    
}

.tourism:hover, .obs:hover  {
    filter: grayscale(100%);
    
}

.tourism a:hover, .obs a:hover {
    font-weight: bolder;
}

/* observatory-tourism section */

.obs-tourism_card-event {
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
    background-color: var(--bg-grey-color);
    min-height: 200px;
    border-radius: 10px;
    margin-left: 0;
    z-index: 0;
}
.card-event_description img {
    height: 100%;
    max-height: 280px;
}

/* astreafest section */
.card-astreafest::before {
    position: absolute;
    left: 0;
    bottom: -4px;
    content: '';
    width: 6px;
    height: 6px;
    background-color: var(--white-color);
    transform: rotate(45deg);
}
/* community section */
.community_card-title {
    bottom: 0;
    left: 0;
}
.community_card-title p {
    font-size: 20px;
    font-family: 'Satoshi-Bold';
}
.community_card-title i {
    font-size: 1.5rem;
}
.community_card-img {
    height: 280px;
    width: 190px;
    object-fit: cover;
}
/* modals section */
.modal_tourism {
    background-color: var(--galaxy-color);
    color: var(--white-color);
}
/*
    Mobile style
*/

@media only screen and (min-width: 992px) {
    body {
        background-image: url('../img/bg.jpg');
        background-repeat: repeat-y;
        background-size: 100%;
    }
}
@media screen and (max-device-width: 992px) {
    h3 {
        font-size: 26px;
    }
    .navbar-collapse {
        position: fixed;
        left: -1200px;
        width: 80vw;
        top: 0;
        bottom: 0;
        background-color: var(--galaxy-color);
        transition: left 0.5s;
    }
    .navbar-collapse:after {
        z-index: -1;
        width: 20vw;
        background-color: rgba(26, 20, 61, 0.8);
        position: absolute;
        top: 0;
        bottom: 0;
        right: -20vw;
        content: '';
    }
    .navbar-collapse.show {
        left: 0;
        transition: left 0.5s;
    }
    .navbar-collapse .close {
        top: 6vw;
        right: -13vw;
        z-index: 5;
    }
    .home-card-triangle {
        flex-direction: column;
        justify-content: center;
    }
    .home-card-triangle.card-triangle_right {
        flex-direction: column-reverse;
    }
    .footer-page {
        padding-top: 45px;
    }
    .footer_bottom-el {
        flex-direction: column-reverse;
    }
    .footer_bottom-el .justify-content-end {
        justify-content: center!important;
    }
    .footer-page .footer_btn-subscribe {
        text-align: center;
    }
    #footer-description {
        display: none;
    }
    #home_carouselCommunity .carousel-item {
        min-height: 200px;
    }
    .card-triangle_element, .obs-tourism_card-event {
        margin-left: 0;
        border-radius: 0;
        margin-top: -5rem;
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    }
    .card-triangle_right .card-triangle_element, .card-triangle_element {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
    }
    .card-triangle_right .card-triangle_element {
        margin-right: 0;
    }
    .card-triangle_description {
        margin: 5rem 0;
    }
    .card-event_description {
        margin-top: 2rem;
        margin-left: 0;
        margin-right: 0;
    }
    .home-astreafest img {
        width: auto;
    }
    .home-astreafest_description {
        left: 0;
        top: auto;
        bottom: 0;
        margin-bottom: 3rem;
    }
    .community_card-img {
        height: 200px;
        width: 140px;
    }
    .community_card-title p {
        font-size: 16px;
    }
}